<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ThemColor</key>
	<string>red</string>
	<key>UserAccount</key>
	<string>Kyle</string>
	<key>PhoneNumber</key>
	<string>0989</string>
</dict>
</plist>
